.project
.cache
*.project
.classpath
*.classpath
.settings/
*.settings/
*.settings/*
*target/
target/*
*target/*
*bin/*
/.metadata/
.DS_STORE
*/.DS_STORE
**/.DS_STORE
.idea/*
*.idea
*.imls
build/*
node_modules
server/dist
coverage
server/public/dist
server/node_modules
server/sensitive.conf